.create {
  padding: 20pt 10pt 30pt 10pt;

  .createPaper {
    padding: 10pt 20pt 20pt 20pt !important;
  }

  .inputs {
    width: 94% !important;
    margin: 10pt 3% !important;
    padding: 0 0 !important;
  }

  .createBtn {
    width: 94%;
    margin: 0 3% !important;
    padding: 0 0 !important;
    margin-top: 20pt !important;
  }
  .imgSytle {
    width: 350px !important;
    height: 200px;
  }
  @media screen and (min-width: 750px) {
    .imgSytle {
      width: 500px !important;
      height: 300px;
    }
  }
}