

.createContainer {
  padding: 20 20pt 50pt 20pt;
  min-height: 85vh;
}

.createItem {
  min-height: 100px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}