.eventDetails {
  padding: 20pt 10pt 30pt 10pt;

	.eventPaper {
		padding: 10pt 20pt 20pt 20pt !important;
	}

	.inputs {
		width: 94% !important;
		margin: 10pt 3% !important;
		padding: 0 0 !important;
	}

	.imformation {
		margin-left: 20pt !important;
	}

	.commentStyle {
		width: 94% !important;
		margin-left: 3% !important;
		padding: 0 0 !important;
	}
	.eventBtn {
		width: 94%;
		margin: 0 3% !important;
		padding: 0 0 !important;
		margin-top: 10pt !important;
	}
	.inviteSendBtn {
		margin: 0 0 0 2% !important;
		padding: 0 0 !important;
	}
	.chipDiv {
		display: flex;
    flex-wrap: wrap;
	}
	.chipStyle {
		margin-left: 20pt !important;
	}
	.imgSytle {
		width: 300px !important;
		height: 180px;

	}
	.directionBtn {
		margin: 0 10pt !important;
	}
	@media screen and (min-width: 750px) {
    .imgSytle {
    	width: 500px !important;
			height: 300px;
			margin-left: 3% !important;
    }
	}
}
.googleMapBtn{
  display:flex;     
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.directionBtn{
  min-width: 100pt;
  margin-top: 15pt;

}

.googleMap {
	width: 250px !important;
	height: 200px;
}

@media screen and (min-width: 750px) {
  .googleMap {
	  width: 700px !important;
	  height: 450px;
  }
}
