.tabsPage {
  
}

.h1 {
	margin: 40 10 0 0;
}

.headline {
	font-size: 24;
	padding-top: 16;
	margin-bottom: 12;
	font-weight: 400;
}

.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 85vh;
	padding: 10pt;
}

.gridList {
	width: 727;
	overflow-Y: auto;
}

.customContentStyle {
	width: 100%;
	max-width: none;
}

.googleMapStyle {
	width: 720px;
	height: 450px;
}

.weather {
	width: 150px;
	height: 100px;
}

.headline {
  font-size: 24;
  padding-top: 16;
  margin-bottom: 12;
  font-weight: 400;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 85vh;
  padding: 10pt;
}

.gridList {
  width: 100%;
  margin: 0 3% !important;
}

.customContentStyle {
    width: 100%;
    max-width: none;
}

.googleMapStyle {
    width: 720px;
    height: 450px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.chip {
   margin: 5
}

.tabGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridTitle {
  width: 90%;
  margin: auto;
  margin-top: 50pt;
  font-weight: 400;
  margin-bottom: 20pt;
  color: black;
}

.gridTile {
  width: 90%;
  margin: auto;
}

.filterText {
  background-color: white !important;
  padding: 10pt 5%;
  width: 70% !important;
  margin: 0 auto !important;
  margin-top: 50pt !important;
}