.tabsPage {
  
}

.h1 {
	margin: 40 10 0 0;
}

.headline {
	font-size: 24;
	padding-top: 16;
	margin-bottom: 12;
	font-weight: 400;
}

.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
	padding: 10pt;
}

.gridList {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700;
	overflow-Y: auto;
}

.customContentStyle {
	width: 100%;
	max-width: none;
}

.googleMapStyle {
	width: 720px;
	height: 450px;
}

.weather {
	width: 150px;
	height: 100px;
}

.heading {

}

.date {

}