$container-width: 100%;
.find {
	  width: 650px;
	  margin: 10px auto;
	  border-radius: 4px;
	  border: 1px solid #ddd;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  align-items: center;

	img {
		width: 200px;
		height: 100px;
	}

	.tableImg {
		width: 500px;
		height: 300px;		
	}
}