.group {
  font-size: 50px;

  .container {

    .phone {
      height: 100% !important;
      min-width: 100pt !important;
      top: 5pt !important;
      right: -10pt !important;
    }
  }
}

.tabsContainer {

}

.tabsPage {
  margin-top: 50pt;
  padding: 0 10pt;
}

.groupName {
  font-size: 50pt;
  padding: 20pt 10pt;
}

.addBtn {
  width: 94% !important;
  margin: 10pt 3% !important;
  padding: 0 0 !important;
}

.add {
  width: 94% !important;
  margin: 10pt 3% !important;
  padding: 0 0 !important;
}