// define scss files for each component
// import them here

@import 'nav.scss';
@import 'home.scss';
@import 'find.scss';
@import 'confirm.scss';
@import 'group.scss';
@import 'profile.scss';
@import 'events.scss';
@import 'alerts.scss';
@import 'about.scss';
@import 'create.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

