// define scss files for each component
// import them here

@import 'nav.scss';
@import 'home.scss';
@import 'group.scss';
@import 'profile.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

@import 'find.scss';

