$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.nav {
  position: fixed;
  width: 100vw;
  min-height: 50pt;
  top: 0;
  z-index: 10;
  color: $primary-color-light !important;

  .navbar {
    background-color: #004D40 !important;
  }

  .homeIcon {
    color: $primary-color-light !important;
    height: 30pt !important;
    position: absolute;
    width: 30pt !important;
    margin-top: 8pt;
  }

  .homeText {
    margin-left: 40pt;
  }

  .auth {
    margin-top: 5pt !important;
    color: $primary-color-light !important;
  }
  .authIn {
    color: $primary-color-light !important;
    margin-top: 5pt !important;
    margin-right: 30pt !important;
  }
  .navBody {
    margin-top: 21pt !important;
  }

}

.childrenContainer {
  background-color: #B0BEC5 !important;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

.childrenPadding {
  padding: 49pt 0 70pt 0;

}

.navLink {
  text-decoration: none !important;
}

.bottomNavContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  flex-direction: column;
  z-index: 10;
}

.bottomNav {
  padding: 5pt 0pt;
  text-align: center;
  max-width: 800px;
  background-color: #004D40 !important;

  .bottomNavItem {
    max-width: 18% !important;
    min-width: 50pt !important;
    color: $primary-color-text !important;
    fill: $primary-color-text !important;
  }
}

.bottomNavComponent {
  background-color: #004D40 !important;
}

.bottomNavLabel {
  margin-top: 3pt;
  color: $primary-color-light;
}

.bottomNavIcon {
  fill: $primary-color-light !important;
}