.nav {
  position: fixed;
  width: 100vw;
  min-height: 50pt;
  top: 0;
  z-index: 10;
  color: white !important;

  .homeIcon {
    color: white !important;
    height: 30pt !important;
    position: absolute;
    width: 30pt !important;
    margin-top: 8pt;
  }

  .homeText {
    margin-left: 40pt;
  }

  .auth {
    margin-top: 5pt !important;
    color: white !important;
  }
  .authIn {
    color: white !important;
    margin-top: 5pt !important;
    margin-right: 30pt !important;
  }
  .navBody {
    margin-top: 21pt !important;
  }

}

.childrenContainer {
  background-color: lightblue;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}

.childrenPadding {
  padding: 48pt 0 70pt 0;

}

.navLink {
  text-decoration: none !important;
}

.bottomNavContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  flex-direction: column;
  z-index: 10;
}

.bottomNav {
  padding: 5pt 0pt;
  text-align: center;
  max-width: 800px;
  background-color: lightslategrey !important;
  .bottomNavItem {
    background-color: black;
    max-width: 18% !important;
    min-width: 50pt !important;
  }
}
.bottomNavComponent {
  background-color: lightslategrey !important;
}