
.profile {
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 70%;

  padding: 5pt 0 5pt 0;

  .container {
    width: 350px !important;    
    margin: auto;
    min-height: 400px;
    text-align: center;
    padding: 5pt 20pt 15pt 20pt;

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 15px;
    }
  }

}

.notifyBtn {
  margin: 10pt 3%;
  width: 94% !important;
}

.profileCard {
  margin-top: 20pt;
}

.textFields {
  width: 44% !important;
  margin: 0 3%;
}

.profileHeader {
  font-size: 15pt;
  font-weight: 500;
  margin-top: 10pt;
  margin-bottom: 5pt;
}

.profileContent {
  padding: 20pt 40pt!important;
  word-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .textFields {
    width: 94% !important;
  }

  .profile {
    padding: 5pt 0 30pt 0;
  }
}

.tabsItem {
  background-color: rgb(0, 150, 136) !important;
}